/*-- scss:defaults --*/
// Base document colors
$body-bg: #D5C3C3;
$body-color: #5A5555;
$link-color: #AB8787;

// Code blocks
$code-block-bg-alpha: -.8;


.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
   border-radius: 15px;
}



.bslib-value-box .value-box-title {
    font-size: 13px;
    margin-top: 0;
    font-family: Baskerville;
    color: #5A5555
}

.bslib-card .card-body p:last-child {
    margin-bottom: 0;
    font-size: 22px;
    font-family: Montserrat;
    color:#845C5C;
    font-weight: bold;

}

.oi-3a86ea-input>input[type=number] {
    border-style: solid;
    border-color: rgba(220, 220, 220, 0.3)
}

.quarto-dashboard .bslib-value-box .value-box-showcase .bi::before {
    color: #845C5C;
}


.card {
    background-color: white!important;
    --bs-card-border-color: white!important;
    --bs-card-title-color:#845C5C!important;

}

.card-header {
    background-color: white!important;
}

.card-title {
    font-family: Baskerville;
    font-size: 20px;
    font-weight: bold;
}

.quarto-dashboard #quarto-dashboard-header .navbar .navbar-container {
    background-color: white;
    font-family: Baskerville;
    font-size: 20px;
}

.quarto-dashboard #quarto-dashboard-header .navbar .navbar-title a {
    color: #5A5555!important;
    font-weight: bold;
}

.html-fill-container > .html-fill-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Ensure items wrap to the next line if needed */
        min-height: 0;
    min-width: 0;
}


form.oi-3a86ea>label {
        font-family: Baskerville;
  }

.oi-3a86ea-input>input, .oi-3a86ea-input>output {
    font-family: Montserrat!important;
}

input[type=range]::-webkit-slider-thumb {
  background-color: white; /* Change thumb color */
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #D5C3C3; /* Change track color */
}

.observablehq--number {
    color: #845C5C!important;
    font-family: Montserrat!important;
    font-size: 20px!important;
    font-weight: bold;
}


.quarto-dashboard .card.valuebox .card-body, .quarto-dashboard .card.bslib-value-box .card-body {
    font-family: Montserrat!important;
    color: #845C5C!important;
    font-weight: bold!important;
}

.bslib-value-box .value-box-area * {
    font-size: 20px;
    font-weight: bold;


}

.leaflet-container {
    position: none!important;
}

.oi-3a86ea-table table {
    max-width: 900px!important;

}

